@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

body {
  background-color: #000;
}

.font-mono-dro {
  font-family: "Syne Mono", monospace;
}

.machine-panel {
  background-image: url("../public/img/hplus300.en.jpg");
  background-size: 100%;
}
