/* @import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@font-face {
  font-family: "ModeNine";
  src: url("/fonts/ModeNine.woff2") format("woff2"),
    url("/fonts/ModeNine.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #000;
}

.font-lcd {
  font-family: "ModeNine", "VT323", monospace;
}

.outline-1-black {
  box-shadow: 0 0 0 1px black;
  /* outline: 1px solid black; */
}

/*
.menu-boxes > div {
} */

.raised-button-edge {
  @apply border-t-2 border-t-gray-200
    border-l-2 border-l-gray-400
    border-r-2 border-r-gray-800
    border-b-2 border-b-gray-800;
}

.panel-frame {
  @apply rounded;
  background-color: #555;
}

.font-mono-dro {
  font-family: "Syne Mono", monospace;
}

.raised-border {
  @apply border-l border-l-slate-400
    border-t border-t-slate-400
    border-r border-r-slate-800
    border-b border-b-slate-800;
}

.screen-border {
  @apply rounded
    border-l-2 border-l-zinc-800
    border-t-2 border-t-zinc-800
    border-r-2 border-r-zinc-400
    border-b-2 border-b-zinc-400;
}

.well-border {
  @apply rounded
    border-l border-l-slate-800
    border-t border-t-slate-800
    border-r border-r-slate-400
    border-b border-b-slate-400;
}

.top-left-highlight {
  @apply border-t border-t-slate-400 border-l border-l-slate-400;
}

.bottom-right-shadow {
  @apply border-b border-b-slate-800 border-r border-r-slate-800;
}

.text-red-glow {
  @apply text-red-300 bg-gray-800 px-3;
  text-shadow: 0 0 2px red, 0 0 3px red, 0 0 5px red, 0 0 20px red, 0 0 60px red,
    0 0 100px red;
}

.machine-panel {
  background-image: url("../public/img/hplus300.en.jpg");
  background-size: 100%;
}
