body {
  background-color: #000;
}

.outline-1-black {
  box-shadow: 0 0 0 1px black;
  /* outline: 1px solid black; */
}

.raised-button-edge {
  @apply border-t-2 border-t-gray-200
    border-l-2 border-l-gray-400
    border-r-2 border-r-gray-800
    border-b-2 border-b-gray-800;
}

.panel-frame {
  @apply rounded;
  background-color: #555;
}

.raised-border {
  @apply border-l border-l-slate-400
    border-t border-t-slate-400
    border-r border-r-slate-800
    border-b border-b-slate-800;
}

.screen-border {
  @apply rounded
    border-l-2 border-l-zinc-800
    border-t-2 border-t-zinc-800
    border-r-2 border-r-zinc-400
    border-b-2 border-b-zinc-400;
}

.well-border {
  @apply rounded
    border-l border-l-slate-800
    border-t border-t-slate-800
    border-r border-r-slate-400
    border-b border-b-slate-400;
}

.top-left-highlight {
  @apply border-t border-t-slate-400 border-l border-l-slate-400;
}

.bottom-right-shadow {
  @apply border-b border-b-slate-800 border-r border-r-slate-800;
}
